@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css?family=Poppins')
// Config vars
$kaldi-red: #FD461E
$kaldi-red-invert: #fff

$primary: $kaldi-red
$primary-invert: $kaldi-red-invert

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 5em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.margin-top-0
  margin-top: 0 !important

@import "~bulma"

// Customizations
*
  font-family: 'Poppins'
  font-weight: 400

.content h1
  font-size: 1.5em !important
  font-weight: 400 !important
  margin: 10px 0px !important

.content h3 
  margin: 10px 0px !important
  font-size: 1.2em !important
  font-weight: 400 !important
.header-image-container
  margin: 0em -50vw
  transform-origin: 0
  transform: skewY(-12deg)
  overflow: hidden
.header-image-container .full-width-image-container
  transform-origin: 0
  transform: skewY(12deg)    
  margin: 0em -50vw
  height: 600px
.navbar
  background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0) 100%) //FF3.6-15 
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) //Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0) 100%) // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26000000', endColorstr='#00000000',GradientType=0 ) // IE6-9
.navbar-item, .navbar-link
  color: rgba(255,255,255,.75)
  font-size: 1.4em
  text-shadow: 0px 0px 50px #000000
.navbar-item img
  max-width: 30px
  max-height: 30px
  width: 30px
  height: 30px
a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:hover, .navbar-link.is-active
  color: #ffffff
.section
  padding: .5rem

@keyframes fade-in 
  0%
     opacity: 0 
     transform: translateX(-25px)
  100%
     opacity: 1


.fade-in-element 
  animation: fade-in .5s
